#diceRow {
    display: flex;
    gap: 16px;
    margin: 20px 0;
    justify-content:center;
}

.die {
    width: 70px;
    height: 70px;
    background: white;
    border: 2px solid #111;
    border-radius: 14px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 10px;
    box-sizing: border-box;
}

.pip {
    width: 10px;
    height: 10px;
    background: #111;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    opacity: 0;
}

.show {
    opacity: 1;
}

#resultBox {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;
}