div.container {
    width:100%;
}

.profile-top {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%; /* full width of container */
    margin: 0 auto; /* center the whole block on the page */
    padding: 0 20px; /* optional: spacing on small screens */
}


.profile-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* centers username + bio horizontally */
    margin-left: 20px;
}

    .profile-text p {
        color: #F5E8D8;        
    }

    .profile-text p:nth-child(2) {
        color: #DAA520;
    }

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid;
}
.edit-profile {
    grid-column: 1 / 2;
    justify-self: center;
    margin: 15px;
    border-radius: 15px;
    background-color: #F0F0F0;
    color: #1a1a1a;
    transition: 250ms ease;
}

.edit-profile:hover {
    background-color: #DAA520;
    box-shadow: 1px 1px white;
    transform: translate(-1px, -1px);
}


.profile-characters nav ul {
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    list-style: none;
    
}


.profile-characters nav ul li {
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 250ms ease;
}

.profile-characters nav ul li a {
    background-color: #daa520;
    color: #585858;
    border-radius: 15px;
}

.profile-characters nav ul li a:hover {
    color: #DAA520;
    background-color: #585858;
}

.comms-badges {
    display: flex;
    justify-content: space-around;
}

.comms, .badges{
    border: 1px solid #DAA520;
    width: 400px;
    height: 250px;
    margin: 20px;

}

/*.character-display {
    width: 100%;
    background-color: #585858;
    padding: 10px 25px;
    display: flex;
    border-radius: 0px 0px 15px 15px;
    justify-content: stretch;
    align-items: center;
    margin: 0 auto;
    gap: 25%;
}*/
.character-display {
    display: flex;
    justify-content: space-around; /* keeps spacing between text, image, stats */
    align-items: center; /* vertically centers all children */
    background-color: #585858;
    border-radius: 0px 0px 15px 15px;
    padding: 10px 20px;
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
}

.character-display img {
    height: 250px;
    width: 250px;
    display: block;
    border-radius: 15px;
}

.character-display ul {
    list-style: none;
}