@page
@model CapstoneProject.Pages.AnnouncementsModel
@{
}
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        box-sizing: border-box;
        padding: 18px;
    }

    .page {
        min-height: 100vh;
        border: 2px solid;
        padding: 18px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .header {
        border: 1px solid;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        margin-bottom: 18px;
    }

    .main {
        border: 1px solid;
        padding: 26px;
        box-sizing: border-box;
    }

    .topPosts {
        width: 80%;
        height: 300px;
        margin: 0 auto 80px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        box-sizing: border-box;
    }

    .newContent {
        width: 80%;
        margin: 0 auto;
        border: 1px solid;
        box-sizing: border-box;
        height: auto;
        padding: 18px;
        display: block;
        font-size: 16px;
    }

    .update-box {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        display: flex;
    }

    .update-list {
        text-align:center;
    }

</style>

<div class="header">Announcements</div>

<div class="main">

    <div class="topPosts">
        Top Posts - to be linked to database
    </div>

    <div class="newContent">

        <!-- Latest update -->
        <div class="update-box latest">
            <div class="update-title">
                <h2>Hotfix — v 0.1 <span class="badge">NEW</span></h2>
                <span class="update-date">Feb 10, 2026</span>
            </div>

            <ul class="update-list">
                <li>Fixed login session timeout issue</li>
                <li>Resolved mobile navigation overlap bug</li>
                <li>Improved page loading performance</li>
                <li>Corrected incorrect user avatar display</li>
            </ul>
        </div>