@page
@model CapstoneProject.Pages.AnnouncementsModel
@{
}
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        box-sizing: border-box;
        padding: 18px;
    }

    .page {
        min-height: 100vh;
        border: 2px solid;
        padding: 18px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .header {
        border: 1px solid;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        margin-bottom: 18px;
    }

    .main {
        border: 1px solid;
        padding: 26px;
        box-sizing: border-box;
    }

    .topPosts {
        width: 80%;
        height: 300px;
        margin: 0 auto 80px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        box-sizing: border-box;
    }

    .newContent {
        width: 80%;
        height: 180px;
        margin: 0 auto;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        box-sizing: border-box;
    }

</style>

<div class="header">Announcements</div>

  <div class="main">
     <div class="topPosts">Top Posts</div>
     <div class="newContent">New Content</div>
  </div>
