@page
@model CapstoneProject.Pages.CommunityModel
@{
}
<head>
    <link href="~/css/" rel="stylesheet" />
    <style>
        .community-layout {
            display: flex;
            gap: 20px;
        }

        .community-posts {
            flex: 3;
        }

        .community-sidebar {
            flex: 1;
        }

        .post-card,
        .sidebar-box {
            height: 60px;
            background: #000;
            margin-bottom: 15px;
        }

        .community-chat {
            display: flex;
            gap: 20px;
            margin-top: 30px;
        }

        .chatroom {
            flex: 3;
            height: 150px;
            background: #dcdcdc;
        }

        .friends-list {
            flex: 1;
        }

        .card {
            display: block;
            width: 100%;
            max-width: 150rem;
            background-color: #363636;
        }

        img {
            width: 100%;
            height: auto;
        }

        .innerLeft {
            display: inline-block;
            margin-right: -4px;
            vertical-align: top;
            width: 30%;
            text-align: center;
            padding: 5px;
            padding-bottom: 0rem;
        }

        .innerRight {
            display: inline-block;
            vertical-align: top;
            width: 70%;
            text-align: left;
            padding: 5px;
        }

        .card-text {
            display: inline-block;
        }


    </style>
</head>

<h1 class="page-title">Communities</h1>
<br /> 
<br />
<div>

    <!-- This is the community "card" -->
    <div class="card">
        <div class="row">
            <div class="innerLeft">
                <img src="http://via.placeholder.com/200x100" />
            </div>
            <div class="innerRight">
                <div class="horizontal-card-footer">
                    <h4 class="card-title">Name of Community</h4>
                    <span class="card-text">What versions we play</span><br />
                    <span class="card-text">Little Tid Bit About What We Do Weeeeee</span>
                    
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="innerLeft">
                <p>Image Title</p>
            </div>
            <div class="innerRight">
                <a class="card-text status">Join</a>
                <span class="card-text">The 1728372383721 members</span>

            </div>
            
            <div class="innerLeft"></div>
            <div class="innerRight">
                <p class="badge bg-primary">New Player Friendly</p>
            </div>
          
        </div>

    </div>
    <br />

    <div class="card">
        <div class="row">
            <div class="innerLeft">
                <img src="http://via.placeholder.com/200x100" />
            </div>
            <div class="innerRight">
                <div class="horizontal-card-footer">
                    <h4 class="card-title">Name of Community</h4>
                    <span class="card-text">What versions we play</span><br />
                    <span class="card-text">Little Tid Bit About What We Do Weeeeee</span>

                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="innerLeft">
                <p>Image Title</p>
            </div>
            <div class="innerRight">
                <a class="card-text status">Join</a>
                <span class="card-text">The 1728372383721 members</span>

            </div>

            <div class="innerLeft"></div>
            <div class="innerRight">
                <p class="badge bg-primary">New Player Friendly</p>
            </div>

        </div>

    </div>

    <!--
    <div class="community-sidebar">
        <div class="sidebar-box"></div>
        <div class="sidebar-box"></div>
        <div class="sidebar-box"></div>
        <div class="sidebar-box"></div>
        <div class="sidebar-box"></div>
    </div>

    -->
<!-- Page Body Ends Here -->
</div>

<!--
<div class="community-chat">

    <div class="chatroom">
        Chatroom
        <input type="text" placeholder="Response..." />
    </div>

    <div class="chat-input">
        
    </div>
    
     On the fence if we should keep a friends page here. -->
    <!-- I think it would be better to save this list for the profile.
    <div class="friends-list">
        <h4>Friends List</h4>

        <div class="friend"></div>
        <div class="friend"></div>
        <div class="friend"></div>
    </div>
    
</div>
     -->

